@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.fade-in {
  animation: fadein 3s;
}

.fade-out {
  animation: fadeout 3s;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
